.about
  Share your activities and experiences through your personal stories of the places where it all happened.
  %p Let others hear about the amazing time you had while learning must know information from an insider who has been there and done that. Compile the stories you had at places into storybooks that capture the context in which you enjoyed your experience.  In the process, create a recommendation for an amazing time out and provide insightful advice that helps others make their next big thing happen.
  %p Use Gustr as your personal journal that captures all the details that matter to you, that others need to know, and the memories you want to remember.  Gustr allows you to creatively inform others on how to enjoy the local scene through your unique view, while also providing you a personal tool that jots down all the stuff that really matters.
  %p To Gustr,  FIRST, create an account or sign in then:
  %ul
    %li Click “Add Story”,
    %li Select a genre (Kids Adventure, Date Night, etc.) to categorize your new storybook,
    %li Title your storybook (i.e., Strolling Through Georgetown),
    %li Name your first story in your storybook (i.e., Grandma’s Nifty-Knack Store)
    %li Follow our brainstorming process to share good-to-know information
    %li Tag and post photos to capture your memories and add additional insights
    %li Click Publish!
  %p To add more stories to your storybook – select “Add Stories” and select the storybook you want to add the story to;  then just title your story, brainstorm, and tag and post.
  %p Join us and start sharing your life’s gusto today!
  %p Please feel free to let us know how we can make Gustr more fun and effective for you: <a href="mailto:contact@gustr.me?Subject=Feedback">contact@gustr.me</a>
  %p
  %p Thanks!
  %p The Gustr Team
