.cap
  .cap1
    =link_to "Life's", '/stories'
  .cap2
    =link_to "Gusto.", '/stories'
  .cap1
    =link_to "Sha", '/stories'
  .cap2
    =link_to "r", '/stories'
  .cap1
    =link_to "e it.", '/stories'
