#toppanel
  %h1 Gustr
  %table.tags.topbar
    %tr
      - Tag::TAGS.each do |tag|
        %td
          = link_to_function tag, "filter('#{tag.underscore}')", {'data-no-turbolink' => true}
  %input#pac-input.controls{:placeholder => "Enter business name", :type => "text"}/
#floater
  -if current_user
    = link_to "Log out", destroy_user_session_path, method: :delete
#map-canvas
#latlng
  #long=@long
  #lat=@lat
