%ul#buttons
  .intro
    Welcome to Gustr.
    %br
    Select a genre and share your story.
  -Story::GENRES.each do |genre|
    %li=link_to genre, new_story_path(genre: genre)
  %br
  %br
  %li=link_to "Quick Story", edit_story_path(Story.create)
%hr
#footer
=link_to "Legal Terms"
