%input#pac-input.controls{:placeholder => "Enter a location", :type => "text"}/
#type-selector.controls
  %input#changetype-all{:checked => "checked", :name => "type", :type => "radio"}/
  %label{:for => "changetype-all"} All
  %input#changetype-establishment{:name => "type", :type => "radio"}/
  %label{:for => "changetype-establishment"} Establishments
  %input#changetype-geocode{:name => "type", :type => "radio"}/
  %label{:for => "changetype-geocode"} Geocodes
#map-canvas
