%ul#buttons
  .intro
    Welcome to Gustr.
    %br
    Select a genre and share your story.
  %li=link_to "Eating Out", new_story_path(genre: "Eating Out")
  %li=link_to "Date Night",new_story_path(genre: "Date Night")
  %li=link_to "Event",new_story_path(genre: "Event")
  %br
  %br
  %li=link_to "Quick Story", edit_story_path(Story.create)
%hr
#footer
=link_to "Legal Terms"
