%h2
  TERMS OF SERVICE
%p
  Welcome to GUSTR, a service provided by GUSTR, LLC (hereinafter, “Gustr” or “GUSTR” or “We” or “we” or “Our” or “our”), a limited liability company organized and existing under the laws of the Commonwealth of Virginia.
%h3
  1. Introduction

%p
  Gustr is an online, social activity service and networking platform that allows individuals to create an online account and upload theme-based suggestions for local adventures to friends, family, and other users (collectively, “Service(s)” or “SERVICE(S)”). By accessing or using these Services or our Website, whether or not you are a registered user of our Service or Website, you are a user (hereinafter, “you” or “You” or “YOU” or “your” or “Your” or “YOUR” or “user” or “User” or “USER”) and you accept and agree to the terms below (hereinafter “Terms of Service”) as a legally binding contract between yourself and Gustr. Furthermore, by accepting and agreeing to the terms below, you also agree to be bound by our Privacy Policy. If you use or access the Services or this Website on behalf of a business, you hereby represent to Gustr that you have the authority to bind that business and your acceptance of these Terms of Service will be treated as acceptance by that business. Gustr may make changes from time to time to these Terms of Service and any such changes will be applicable to all subsequent access to or use of the Services. Should you have any questions as it relates to the Terms of Service, please feel free to contact us.

%h3
  2. Privacy and Security

%p
  Privacy and security of our users is extremely important to us. Please review our Privacy Policy for a description of our privacy practices, an explanation of how we may use any personal identifiable information and aggregate data we collect on this Website, and ways to opt out.

%h3
  3. License and Acceptance
The Terms of Service grants you a worldwide, nonexclusive, nontransferable, revocable, limited license to access and use of the information and Services, in whole or in part, strictly subject to and solely in compliance with these Terms of Service. We reserve the right to terminate this license, with or without prior notice, for any reason whatsoever. Except for the limited license set forth in the Terms of Service, Gustr reserves all other rights and no other rights are granted by implication or otherwise. For the avoidance of doubt, except for the limited license set forth in the Terms of Service, Gustr does not grant you any express or implied rights or licenses under any Intellectual Property Rights (defined below) or other proprietary rights.
If you do not accept and agree to all provisions of these Terms of Service, now or in the future, you may reject the Terms of Service by immediately terminating all access and use of the Services, including accessing our Website, in which case any continuing access or use of the Services and Website is unauthorized.
By accepting this Terms of Service, you agree to comply with, and to ensure compliance with, all laws, ordinances and regulations applicable to your activities and both the Services and Website.

%h3
  4. Gustr Intellectual Property

%p
  Except for User Content (defined below), the Service itself, all technology, content and other subject matter included on or within the Service or on this Website, and all Intellectual Property Rights (defined below) in or related to the Service or any such content or other subject matter or any content on this Website ("Gustr Content") are owned by or licensed to Gustr. Such technology and content is protected by United States and international intellectual property laws. Gustr, its assigns, affiliates, and licensors retain all proprietary rights to that technology and content. Except for User Content, the content appearing on this site is copyrighted or copyrightable content of Gustr. Except as expressly provided in these Terms of Service, you agree not to use, modify, reproduce, distribute, sell, license, or otherwise exploit the Gustr Content without our express, written permission.

%p
  “Gustr” and its affiliated logos and designs are trademarks of Gustr and are protected by United States and international laws. The Terms of Service does not authorize you to use “Gustr” or its affiliated logos or designs or any similar or related trademarks for any use pertaining to the Services or any similar or related use, or any other use that is likely to cause confusion on the part of, to cause mistake by or to deceive the public as to any affiliation, connection, association, origin, sponsorship, approval or endorsement by or with Gustr.

%p
  “Intellectual Property Rights” means any and all patents, trademarks, trade names, trade dress and service mark rights (and associated goodwill), rights of publicity, copyright, moral rights, industrial designs or design patents, technologies, procedures, processes, trade secrets, designs, inventions, discoveries, know-how and works of authorship, and documentation thereof, and all other intellectual property and proprietary rights as may now exist or hereafter come into existence, and all applications for any of these rights and registrations, renewals and extensions of any of these rights, in each case under the laws of any state, country, territory or other jurisdiction.

%h3
  5. Copyright Policy

%p
  Gustr has adopted and implemented a policy regarding copyrights in accordance with the Digital Millennium Copyright Act (17 U.S.C. § 101 et. al.) (“DMCA”). We respect the Intellectual Property Rights of others and expect our Users to do the same. Consequently, if you are a copyright owner, a representative authorized to act on behalf of one, or licensee of one, and believe that an exclusive right in your work of authorship has allegedly been infringed, please report the alleged infringement to our Copyright Agent at contact@gustr.me. You may also submit your request via hardcopy to the attention of “Gustr Copyright Agent,” at 4125 Placid Lake Court, Chantilly, VA 20151. Please note that submitting the request via hardcopy may delay our response.

%p
  When submitting your allegation, please follow the notice procedure under provision 512(C)(3) of the DMCA. For your convenience, the notice requirements are as follows:

%p
  (i)	A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed (i.e., copyright owner, authorized representative, or licensee). Please sign your name as “/Full Name/”;

%p
  (ii)	Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works, a list of such works;

%p
  (iii)	Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;

%p
  (iv)	Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an email address at which you may be contacted;

%p
  (v)	A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and

%p
  (vi)	A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
%p
  Upon review, Gustr will take whatever action, in its sole and absolute discretion, as it deems appropriate, including without limitation removal of the User Content and possible suspension or disablement of the User’s account.

%h3
  6. Use of Services

%p
  Any use or access to the Service by anyone under the age of 18 is strictly prohibited.

%p
  You may use the Service only if you can form a binding contract with Gustr, and only in compliance with these Terms of Service and all applicable local, state, national, and international laws, rules and regulations. The Service is not available to any user previously removed from the Service by Gustr. We may, without prior notice, change the Service; add features, stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service.

%p
  Gustr does not control, is not responsible for and makes no representations or warranties with respect to any user or User Content (defined below). You are solely responsible for your interaction with or reliance on any user or User Content. You are also responsible for your own conduct and all activities on, through or related to the Services, and, if you create an account with respect to the Services, you are responsible for all conduct or activities on, through or by use of your account. We reserve the right, but have no obligation, to monitor disputes between you and other users. Gustr will have no liability for your Interactions (defined below) with other users, or for any user’s action or inaction.

%p
  You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose.

%p
  It is expressly prohibited for any third party to access or use the Services on behalf of another. Users must access or use the Services only on their own behalf, and may not permit, enable, induce or encourage any third party to use or access the Services for them.

%p
  Affiliate marketing is expressly prohibited with respect to access or use of the Services. Users may not communicate with any user for purposes of affiliate marketing or in connection with any affiliate marketing system, scheme or program in any manner or under any circumstance.

%h3
  7. User Content

%p
  Gustr allows you to upload photographs, text, and commentary and tag locations (for example, but not limited to, location or distance from public transportation) as part of the Service. You retain all of your rights in and to anything you upload or otherwise make available on our Service or Website, which includes but is not limited to text, code, images, binary files, accounts, account information, e-mails, messages and any other user communications, including all Intellectual Property Rights in such content (collectively, “User Content”).

%p
  You hereby grant us a worldwide, non-exclusive, transferable, non-revocable, sub-licensable, royalty-free license to use, reproduce, re-arrange, display, modify, delete, and distribute your User Content on and through the Website for the purposes of operating and providing the Service(s) to you and to our other Users. Nothing in these Terms of Service shall restrict Gustr’s rights under separate licenses to User Content. We reserve the right, but are not obligated, to remove User Content from the Service or Website for any reason, including but not limited to User Content that we believe violates these Terms of Service or violates the rights of any third party.

%p
  By using this Service you agree that any User Content that you post, upload, display, or transmit to or through the Service or Website: (i) does not and will not violate any law or infringe the rights of any third party, including without limitation any Intellectual Property Rights or rights of privacy or publicity; (ii) is not obscene, lewd, vulgar, pornographic, libelous, defamatory, threatening, abusive or otherwise offensive; (iii) harms minors in any way; (iv) impersonates any person or entity, including without limitation any famous person or company, or misrepresents or fraudulently or falsely misstates your affiliation with any person or entity; and (v) does not suggest or imply that you have any other affiliation with Gustr outside that of a User, including without limitation that you are endorsed by Gustr.

%p
  Over the course of using our Service(s), you may choose to submit comments, ideas or criticisms about the Service, including without limitation about how to improve the Service ("Submission(s)"). By submitting any Submission, you agree that your disclosure is gratuitous, unsolicited and without restriction; your disclosure will not place Gustr under any fiduciary or other obligation; and we are free to use, disclose and otherwise exploit the Submission without any restriction and without additional compensation to you. By acceptance of your Submission, Gustr does not waive any rights to use similar or related Submissions previously known to Gustr, or developed by its employees, or obtained from sources other than you.

%h3
  8. Membership

%p
  Creating an account with Gustr gives you access to the Services in our sole discretion. We may maintain different types of accounts for different types of Users. You agree not to use usernames or profile images that are offensive, obscene, lewd, or harassing to others or any username that impersonates any person or entity, including without limitation any famous person or company, or misrepresents or fraudulently or falsely misstates your affiliation with any person or entity. We reserve the right to require you to change your username at any time and for any reason in our sole discretion.

%p
  When you create your Gustr account, you must provide us with accurate and complete information in your profile. You agree to provide us with up-to-date contact information. You are solely responsible for the activity that occurs on your account, and you agree to keep your account login and password secure. You agree to immediately notify Gustr of any compromise of your credentials you become aware of and any unauthorized use of your account.

%p
  You may deactivate your account at any time under your profile settings. We may permanently or temporarily terminate or suspend your user account or access to the Service for any reason, without notice or liability to you, including if in our sole determination you violate any provision of these Terms of Service, or for no reason.

%p
  Following termination or deactivation of your account, or if you remove any User Content from your account, Gustr may retain your User Content for a commercially reasonable period of time for backup, archival, or audit purposes. Furthermore, Gustr and other Users may retain and continue to use, reproduce, re-arrange, display, modify, delete, and distribute any of your User Content which you have posted to public or semi-public areas of the Service.

%h3
  9. Local Adventures

%p
  The Service of Gustr connects individuals with reviews and theme-based suggestions for Local Adventures. “Local Adventures” are defined as activities, experiences or events listed on the Website that attempt to provide suggestions for selected themes. Gustr does not directly provide any Local Adventure services but rather serves as a third party hub for individual Users to connect directly with other Users’ suggestions for Local Adventures.

%p
  Gustr is not responsible for the outcome of services, reviews, or recommendations provided by any other User and does warrant or make any representations with respect to any Local Adventure including but not limited to the accuracy of any such User content.

%p
  Gustr is not responsible for any money or services contracted for between any business and User, and makes no warranty or representation to either including but not limited to the knowledge or expertise of any given User and the fees charged by any given business. Businesses are free to charge a User any fees and such contract shall have no effect on Gustr.

%h3
  10. Reviews

%p
  The Website utilizes a rating system for all Local Adventures that are posted by Users of the Website with commentary (“Review(s)”). All Users agree as well as warrant and represent that if they choose to post a Review about a Local Adventure, that such Review will not obscene, lewd, vulgar, pornographic, libelous, defamatory, threatening, abusive or otherwise offensive, or will not otherwise violate these Terms of Service.

%h3
  11. Unauthorized Access

%p
  Although we have taken precautions to minimize the risk of unauthorized access to your content and account, we cannot guarantee unauthorized third parties will not be able to defeat our preventative measures. You hereby agree and acknowledge that you provide all information and content at your own risk. To maintain the integrity and functionality of the Services for its users, access to the Services and/or activities related to the Services that are harmful to, inconsistent with or disruptive of the Services and/or its users' beneficial use and enjoyment of the Services are expressly unauthorized and prohibited.

%p
  Users may not circumvent any technological measure implemented by Gustr to restrict the manner in which content may be used or accessed with respect to the Services or to regulate the manner in which content may be transmitted to other users. This prohibition includes without limitation a ban on the use of multiple email addresses (created via an email address generator or otherwise); the use of multiple IP addresses (via proxy servers, modem toggling, or otherwise); reverse engineering any component of the Service or Website; tampering with any code owned by or licensed to Gustr or any code attributable to the Service or Website; CAPTCHA circumvention, automation or outsourcing; multiple and/or fraudulent accounts; URL shortening, obfuscation or redirection; and content obfuscation via HTML techniques, printing text on images, inserting random text or content "spinning."

%h3
  12. Moderation

%p
  Gustr has the right, but not the obligation to regulate User Content stored on or transmitted via the Services by any User (or any other third party in any manner); to regulate conduct (including but not limited to any authorized or unauthorized access to or use of the Services) by any User (or any other third party in any manner); and to enforce these Terms of Service, for any reason and in any manner or by any means that Gustr, in its sole and absolute discretion, deems necessary or appropriated (including but not limited to automated and manual screening, blocking, filtering, requiring the use of an application programing interface (API), authorization, verification, and the deletion and/or termination of content, accounts and/or all or any use or access).

%p
  Gustr may, in its sole and absolute discretion, without notice, start, discontinue or modify any regulation or enforcement measures at any time. Gustr’s action or inaction to regulate content or conduct or to enforce against any potential violation of the Terms of Service by any User (or any other third party) does not waive Gustr’s right to implement or not implement regulation or enforcement measures with respect to any subsequent or similar content, conduct or potential Terms of Service violation.

%p
  Gustr also has the right in its sole discretion to limit, modify, interrupt, suspend or discontinue all or any portions of the Services at any time without notice. Gustr and Gustr Indemnitees shall not be liable for any such limitations, modifications, interruptions, suspensions or discontinuance, or any purported losses, harm or damages arising from or related thereto.

%h3
  13. Third-party Links, Sites and Services

%p
  The Service or Website may contain links to third-party websites, advertisers, companies, services, products, individuals, special offers, or other events or activities that are not owned or controlled by Gustr. Gustr does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from the Service or Website, you do so at your own risk and you agree that Gustr will have no liability arising from your use of or access to any third-party website, service, or content.

%h3
  14. Indemnity

%p
  You agree to indemnify and hold Gustr and its officers, directors, members, managers, partners, shareholders, employees, licensees, licensors, contractors, agents, legal representatives, successors, heirs, executors, and assigns (the “Gustr Indemnitees”), harmless against (a) any and all damages, liabilities, costs and expenses, including, without limitation, reasonable attorneys’ fees and costs, arising out of or related to: (a) your breach or alleged breach of any representation, warranty, covenant or other obligation set forth in these Terms of Service; (b) your own conduct or activities on, through or related to the Services or Website; (c) any conduct or activities on, through or by use of your account; (d) content that you post or transmit (including but not limited to content that a third-party deems defamatory or otherwise harmful or offensive); (e) activity that occurs through or by use of your account (including, without limitation, all content posted or transmitted); (f) your use of or reliance on any User Content; (g) infringement, or alleged infringement; and (h) any claim or representation made or allegedly made by you in any User Content or comment furnished or used by you, and shall defend Gustr and the Gustr Indemnitees against any and all third party claims, suits or demands that are subject to the above indemnity.

%p
  Gustr and Gustr Indemnitees are not parties to, have no involvement or interest in, make no representations or warranties as to, and have no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other user, person or organization ("Interactions").

%p
  You hereby release Gustr and each of the Gustr Indemnitees, and their respective subsidiaries, affiliates, successors, predecessors, assigns, heirs, service providers and suppliers, from all claims, demands and damages of every kind and nature, known and unknown, direct and indirect, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to the Services or content accessed through the Services, or any Interactions with others arising out of or related to the Services and/or Website or content accessed through the Services and/or Website.

%h3
  15.  Limitations on Liability and Disclaimers

%p
  GUSTR AND GUSTR INDEMNITEES SHALL UNDER NO CIRCUMSTANCES BE LIABLE FOR ANY ACCESS TO, USE OF OR RELIANCE ON THE SERVICES OR USER CONTENT ACCESSED THROUGH THE SERVICES BY YOU OR ANYONE ELSE, OR FOR ANY TRANSACTIONS, COMMUNICATIONS, INTERACTIONS, DISPUTES OR RELATIONS BETWEEN YOU AND ANY OTHER PERSON OR ORGANIZATION ARISING OUT OF OR RELATED TO THE SERVICES OR CONTENT ACCESSED THROUGH THE SERVICES, INCLUDING BUT NOT LIMITED TO LIABILITY FOR INJUNCTIVE RELIEF AS WELL AS FOR ANY HARM, INJURY, LOSS OR DAMAGES OF ANY KIND INCURRED BY YOU OR ANYONE ELSE (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, STATUTORY, EXEMPLARY OR PUNITIVE DAMAGES, EVEN IF GUSTR OR ANY GUSTR INDEMNITEES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THIS LIMITATION OF LIABILITY APPLIES REGARDLESS OF, BUT IS NOT RESTRICTED TO, WHETHER THE ALLEGED LIABILITY, HARM, INJURY, LOSS OR DAMAGES AROSE FROM AUTHORIZED OR UNAUTHORIZED ACCESS TO OR USE OF THE SERVICES OR CONTENT ACCESSED THROUGH THE SERVICES; ANY INABILITY TO ACCESS OR USE THE SERVICES OR CONTENT ACCESSED THROUGH THE SERVICES; OR ANY REMOVAL, DELETION, LIMITATION, MODIFICATION, INTERRUPTION, SUSPENSION, DISCONTINUANCE OR TERMINATION OF THE SERVICES OR CONTENT ACCESSED THROUGH  THE SERVICES.
%p
  YOUR ACCESS TO, USE OF AND RELIANCE ON THE SERVICES AND CONTENT ACCESSED THROUGH THE SERVICES IS ENTIRELY AT YOUR OWN RISK. THE SERVICES (INCLUDING, WITHOUT LIMITATION, THE WEBSITES, PROGRAMS, SERVICES AND CONTENT ACCESSED THROUGH THE WEBSITES, PROGRAMS AND SERVICES) ARE PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. ALL EXPRESS AND IMPLIED WARRANTIES (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS) ARE EXPRESSLY DISCLAIMED.

%p
  GUSTR TAKES NO RESPONSBILITY AND ASSUMES NO LIABILITY FOR ANY USER CONTENT THAT YOU OR ANY OTHER USER OR THIRD PARTY POSTS OR SENDS OVER THE SERVICE. YOU ARE SOLELY RESPONSIBLE FOR YOUR USER CONTENT AND THE CONSEQUENCES OF POSTING OR PUBLISHING IT, AND YOU AGREE THAT WE ARE ONLY ACTING AS A PASSIVE MEDIUM FOR YOUR AND OTHER USERS’ ONLINE DISTRIBUTION AND PUBLICATION OF YOUR AND THEIR USER CONTENT.

%p
  WITHOUT LIMITING THE FOREGOING, GUSTR ALSO DISCLAIMS ALL WARRANTIES FOR OR WITH RESPECT TO: (a) THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY AND PERFORMANCE OF THE SERVICES AND CONTENT ACCESSED THROUGH THE SERVICES; (b) COMPUTER WORMS, VIRUSES, SPYWARE, ADWARE AND ANY OTHER MALWARE, MALICIOUS CODE OR HARMFUL CONTENT OR COMPONENTS ACCESSED, RECEIVED OR DISSEMINATED THROUGH, RELATED TO OR AS A RESULT OF THE SERVICES OR CONTENT ACCESSED THROUGH THE SERVICES; (c) ANY TRANSACTIONS OR POTENTIAL TRANSACTIONS, GOODS OR SERVICES PROMISED OR EXCHANGED, INFORMATION OR ADVICE OFFERED OR EXCHANGED, OR OTHER CONTENT, INTERACTIONS, REPRESENTATIONS OR COMMUNICATIONS THROUGH, RELATED TO OR AS A RESULT OF USE OF THE SERVICES OR CONTENT ACCESSED THROUGH THE SERVICES (INCLUDING, WITHOUT LIMITATION, ANY LINKS ON GUSTR’S WEBSITE AND/OR LINKS IN CONTENT ACCESSED THROUGH THE SERVICES).

%p
  IN NO EVENT WILL GUSTR’S AGGREGATE LIABILITY, OR THAT OF ITS OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS, ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE SERVICES, OR FROM THE USE OF OR INABILITY TO USE THE SERVICES, USER CONTENT OR GUSTR CONTENT EXCEED ONE HUNDRED DOLLARS ($100). THE LIMITATIONS OF LIABILITY SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN GUSTR AND YOU.

%p
  THESE DISCLAIMERS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW.

%p
  SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR CERTAIN WARRANTIES OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE DISCLAIMERS AND LIMITATIONS MAY NOT APPLY TO YOU.

%h3
  16. Governing Law and Arbitration

%p
  The existence and interpretation of these Terms of Service shall be governed and construed under the laws of the Commonwealth of Virginia, without regard to its conflicts of law rules.  Any dispute, claim or controversy arising out of or relating to these Terms of Service or the breach, termination, enforcement, interpretation or validity thereof shall be exclusively resolved by final and binding arbitration administered by JAMS under its Comprehensive Arbitration Rules then in effect, as modified by the provisions of this Section.  The venue for such arbitration shall be Fairfax County, Virginia, or such other location to which both Parties may otherwise expressly agree in writing (the “Designated Location”).  Arbitration proceedings shall take place before a single arbitrator who shall be a lawyer or former judge.  If the parties cannot agree upon the choice of the arbitrator within twenty (20) business days of the date the matter is submitted for arbitration, the parties shall request, and accept, assignment of an arbitrator from JAMS pursuant to its rules.  The arbitrator shall have authority to award any remedy or relief that a court of competent jurisdiction sitting in the state encompassing the Designated Location could grant in conformity to applicable law.  Any arbitration award shall be accompanied by a written statement containing a summary of the issues in controversy and a description of the award, with explanation of the reasons for the award.  The arbitrator’s award shall be final and binding, and judgment may be entered upon such award by any court of competent jurisdiction.  The parties agree that all arbitration proceedings shall be private and confidential, and further agree not to issue any press release or public announcement with respect to any arbitration proceeding or any court action taken to enforce the arbitrator’s award, including, without limitation, the fact that the arbitration or court action is being conducted, or disclose any aspect thereof, including any testimony, discovery and any documents filed in the course of such proceedings, except to the arbitrator and his/her staff, the parties’ attorneys and their staff, any experts retained by the parties, and to the court as necessary to enforce the arbitration award, provided that at the request of either party, the parties shall cooperate in seeking a protective order with respect to any such information disclosed to the court.  The foregoing dispute resolution provisions of these Terms of Service shall not prevent Gustr from seeking or obtaining preliminary injunctive or other provisional relief from a court of competent jurisdiction as provided in these Terms of Service for the purpose of preventing irreparable injury, loss or damage pending a final resolution of the dispute, claim or controversy according to such dispute resolution provisions.  The prevailing party in any suit or arbitration shall be entitled to an award of its reasonable attorneys’ fees and costs, in addition to, and not in limitation of, other available remedies.  All forum fees and expenses in any arbitration, including, without limitation, the arbitrators’ fees, shall be advanced equally by the parties; provided, however, that the failure of a party to timely pay its portion of any arbitration fees shall entitle the other party to a default award (if the non-paying party is the respondent) or dismissal with prejudice (if the non-paying party is the claimant).

%p
  The Service is controlled and operated from its facilities in the United States. Gustr makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable national, state, local or other laws, statutes, directives, rules, regulations, and all interpretations or orders of any government, administrative or regulatory authority or court, including but not limited to those related to export and import of software, technical information or services. You may not use the Service if you are a resident of a country embargoed by the United States, or are a foreign person or entity blocked or denied by the United States government. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United States.

%h3
  17. General Terms

%p
  These Terms of Service constitute the entire agreement between you and Gustr and supersede any prior written or oral agreement. Other than the Gustr Indemnitees (who are expressly included as named third-party beneficiaries of the Terms of Service), there are no third-party beneficiaries to the Terms of Service.

%p
  You also understand and agree that any action or inaction by Gustr or any of Gustr Indemnitees to prevent, restrict, redress or regulate content, or to implement other enforcement measures against any content, conduct or potential Terms of Service violation is undertaken voluntarily and in good faith, and you expressly agree that neither Gustr nor any Gustr Indemnitees shall be liable to you or anyone else for any action or inaction to prevent, restrict, redress, or regulate content, or to implement other enforcement measures against any content, conduct or potential violation of the Terms of Service.

%p
  Although Gustr Indemnitees may moderate content, conduct and Terms of Service compliance related to the Services at Gustr's discretion, Gustr Indemnitees have no authority to make binding commitments, promises or representations to anyone that they or anyone else on behalf of Gustr will "take care" of any alleged problem or complaint, or that they or anyone else on behalf of Gustr will otherwise stop, cure or prevent any problem, content, conduct or purported Terms of Service violation from occurring or recurring. Accordingly, you further agree that any representation (written or verbal) by any Gustr Indemnitees (or by anyone else acting on behalf of Gustr or by anyone purportedly acting on behalf of Gustr) that Gustr (including but not limited to any Gustr Indemnitees, anyone else acting on behalf of Gustr, or anyone purportedly acting on behalf of Gustr) would or would not prevent, restrict, redress or regulate content (including, without limitation, screen, block, moderate, review, remove, terminate, delete, edit or otherwise stop, cure or exclude any content), or to implement other enforcement measures against any content, conduct or potential or purported Terms of Service violation is superseded by this provision and is nonbinding and unenforceable. Specifically, you agree that Gustr, Gustr Indemnitees and anyone else authorized to act on behalf of Gustr shall in no circumstance be liable as a result of any representation that Gustr, Gustr Indemnitees or anyone else on behalf of Gustr would or would not restrict or redress any content, conduct or potential or purported Terms of Service violation. This paragraph may not be modified, waived or released except by a written agreement, dated and signed by Gustr's Chief Executive Officer and dated and signed by the individual or entity to whom or which the modification, waiver or release is granted.

%p
  The waiver by Gustr of a default or breach of any provision of the Terms of Service shall not operate or be construed as a waiver of any subsequent default or breach of the same or of a different provision. No waiver or modification of the Terms of Service or of any covenant, condition, or limitation contained in the Terms of Service shall be valid unless in writing and duly executed by Gustr. Failure of Gustr to insist upon strict compliance with any of the terms, covenants or conditions in the Terms of Service shall not be deemed a waiver of such terms, covenants and conditions.

%p
  These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Gustr without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.

%p
  By accepting these Terms of Service, you acknowledge, and we affirm, that it is the intent of both us and you that the provisions contained in this Terms of Service should be enforced. Therefore, if any provision or paragraph of this Terms of Service is held unenforceable or invalid by a court or arbitrator of competent jurisdiction, the remaining provisions shall continue to be valid and enforceable as though the invalid provision(s) were not a part thereof.

%p
  You acknowledge and agree that any violation or breach of the Terms of Service may cause Gustr immediate and irreparable harm and damages; consequently, notwithstanding any other provision of the Terms of Service or other applicable legal requirements, Gustr has the right to, and may in its discretion, immediately obtain preliminary injunctive relief (including, without limitation, temporary restraining orders) and seek permanent injunctive relief regarding any violation or breach of the Terms of Service. In addition to any and all other remedies available to Gustr in law or in equity, Gustr may seek specific performance of any term in the Terms of Service, including but not limited to by preliminary or permanent injunction. You agree that the state and federal courts located in Maryland shall have exclusive jurisdiction of any request by Gustr for injunctive relief, and you irrevocably agree to submit to the jurisdiction of such courts for such purpose.
  Last Updated: March 14, 2014
