View others’ storybooks to plan ahead efficiently. Offer words of adventure wisdom through your own storybook.  

.step1
Step 1

EnterGustrand  view other users’ storybooks for adventure ideas.
.step2
Step 2

Login to share your own adventure by creating or adding to an existing storybook.
.step3
Step 3

Click “Add Story”. Decide what Genre (category) you want to put your new storybook under, or select a pre-existing storybook to add to. Follow the storybook creation process and click “Publish” – you are an author!

