Place/Establishment name
= f.input :place_name, placeholder: "name of the place or location for this chapter...", label: false
City
= f.input :city, placeholder: "enter a city...", label: false
Best time to go
= f.input :time1, as: :check_boxes, collection: ["Breakfast","Lunch","Dinner"], label: false
= f.input :time2, as: :check_boxes, collection: ["Weekday","Weekend"], label: false
