The Neighborhood
= f.input :adventure, label: false, placeholder: "Are there other exciting or interesting things to do around this place? How accessible is it to public transportation or other modes of transportation? etc.", required: true
