Give your Storybook a title.
= f.input :step, as: :hidden, input_html: { value: 1 }
=f.input :title, label: false, placeholder: "Storybook title examples: Irish Bars, Chinese Restaurants, Cupcake Shops, etc."
- if current_user
  =f.input :user_id, as: :hidden, input_html: {value: current_user.id}
