%h2=link_to "My Storybooks", storybooks_path
%h2=link_to "Genres", genres_path

.images
  .header
    Latest Story Photos
  %ul
    -Story.where('visible is true').map(&:graphics).flatten.last(4).each do |graphic|
      %li
        =link_to image_tag(graphic.upload.thumb.url), story_path(graphic.story)

%p
.taglist.images
  .header
    Hot Tags
  %table.tags.refresh
    - Tag.last(12).in_groups_of(6).each do |group|
      %tr
      - group.compact.each do |tag|
        %td.gray
          = link_to tag.tag, tags_path(tags: tag.tag)

- Story.where('storybook is not null').where('visible is true').reverse.each do |story|
  = render story

- if current_user
  - if (stories = Story.where('storybook is not null').where(user_id: 1).where('visible is null')).present?
    %h1 Drafts
    - stories.each do |story|
      = render story
