.btn_green.hover
  %h2=link_to "My Storybooks", storybooks_path
.btn_green.hover
  %h2=link_to "Genres", genres_path

%br
%p
.images
  .header
    Latest Story Photos
  %ul
    -Story.published.map(&:graphics).flatten.last(4).each do |graphic|
      %li
        =link_to image_tag(graphic.upload.thumb.url), story_path(graphic.story)

%br
%p
.taglist.images
  .header
    Hot Tags
  %table.tags.refresh
    - Tag.last(10).in_groups_of(5).each do |group|
      %tr
      - group.compact.each do |tag|
        %td.gray.hover
          = link_to tag.tag.titleize, tags_path(tags: tag.tag)
%br
%p
- Story.published.reverse.last(10).each do |story|
  = render story

- if current_user
  - if (stories = Story.where('storybook is not null').where('visible is null').where(user_id: current_user.id)).present?
    %h1 Drafts
    - stories.each do |story|
      = render story
