=link_to "Edit story", edit_story_path(@story)
.genre Genre: #{@story.genre}
.title Story Title: #{@story.title}
.city City: #{@story.city}
%hr
.time1=@story.time1.try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
.time1=@story.time2.try {|time1| time1.map(&:presence).try(:compact)}.try(:to_sentence)
%hr
Why did you go?
.why=@story.why
%hr
What adventure did you choose?
.adventure=@story.adventure
%hr
What's the nifty or thrifty of it?
.nifty=@story.nifty
%hr
Word to the wise!
.wise=@story.wise
%hr
Would you take your mom?
.mom=@story.mom.try {|mom| mom.map(&:presence).try(:compact)}.try(:to_sentence)
%hr
