body {
  background-color: #F0F8FF;
}
.footer {
  clear: both;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 25px;
}

h1, label.file {
  color: #FF6347
}
label.file {
  font-size: 1.8em;
  display: block;
  margin-bottom: 12px;
}

.floater:not(.visible) {
  display: none;
}

.floater {
  background: url('/assets/bubble.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 160px;
  color: black;
  display: block;
  padding: 25px 5px 5px 5px;
  position: absolute !important;
  left: 60%;
  top: 100px;
  textarea {
    display: none;
  }
  .caption {
    margin-top: 20%;
  }
  .ok {
    display: none;
    width: 88px;
  }
}
input.string, textarea {
  display: block;
  margin: 10px auto;
}
.editable { display: none }
ul.images {
  text-align: center;
  margin: auto;
  padding: 0;
  list-style: none;
  li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
#content {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-right: 0;
}
form.edit_image {
  .input {
    margin: 35px;
  }
  label.radio {
    display: block;
  }
}
.imagebox img {
  padding: 50px;
  margin: 50px;
}
