.floater {
  background: url('/assets/bubble.png');
  background-repeat: no-repeat;
  width: 180px;
  height: 160px;
  color: black;
  display: block;
  padding: 25px 5px 5px 5px;
  position: absolute;
  left: 60%;
  top: 100px;
}
