body, #map-canvas {
  width: 100%;
  display: block;
  margin:0;
  padding: 0;
  z-index: 1 !important;
}
#simplemodal-container {
  position: absolute !important;
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px solid darkgray;
  font-family: Calibri, Tahoma, Arial;
  padding: 15px;
  z-index: 999 !important;
}
#simplemodal-overlay {
  z-index: 999 !important;
}
.hidden {
  display: none;
}
.ui-autocomplete {
  z-index: 999 !important;
}
ul, li {
  list-decoration: none;
  display: inline-block;
}
table.tags {
  padding: 0;
  border-spacing: 0;
  margin: 0;
  tr, tbody {
    padding: 0;
    margin: 0;
  }
  td {
    .count {
      position: absolute;
      background-color: blue;
      border-radius: 50%;
      padding: 2px 8px 2px 8px;
      text-align: center;
    }
    background-color: green;
    padding: 15px 10px 15px 10px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px 1px 1px 0 solid gray;
    a {
      color: white;
      text-decoration: none;
      display: block;
      &:visited {
        color: white;
      }
    }
  }
}
h1 {
  margin: 5px 0 5px 0;
}
