body, #map-canvas {
  display: block;
  margin:0;
  padding: 0;
  z-index: 1 !important;
}
#simplemodal-container {
  position: absolute !important;
  background-color: white;
  border-radius: 20px;
  border: 1px solid darkgray;
  font-family: Calibri, Tahoma, Arial;
  padding: 25px;
  z-index: 999 !important;
}
#simplemodal-overlay {
  z-index: 999 !important;
}
.hidden {
  display: none;
}
.ui-autocomplete {
  z-index: 999 !important;
}
ul, li {
  list-decoration: none;
  display: inline-block;
}

h1 {
  margin: 5px 0 5px 0;
}
h2 {
  margin: 0;
}
.simplemodal-close {
  float: right;
}
#toppanel {
  padding: 10px;
  input {
    margin-top: 10px;
    width: 90%;
    padding: 10px;
  }
  border: 1px solid black;
  background-color: white;
  color: black;
  td a {
    color: black;
  }
}
#latlng {
  display: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
