a:visited {
  color: silver;
}
body {
  margin: auto;
  padding: 0;
  background-color: #454140;
  color: white;
  width: 768px;
}
@media only screen and (max-width:642px) {
  body {
    width: 600px !important;
  }
  * {
    max-width: 600px !important;
  }
  #linkbuttons, .images, .taglist {
    width: 440px !important;
  }
  .topbar#topbar {
    width: 441px;
    .stories, .addstory {
      display: none;
    }
  }
  #topbar2 {
    display: block !important;
    width: 263px;
    background-repeat: no-repeat;
    height: 92px;
    background-image: image-url('/assets/images/screen2.jpg');
    margin: auto !important;
    border-spacing: 0 !important;
    padding: 0;
    .stories, .addstory {
      display: inline-block !important;
      height: 92px !important;
    }
  }
}
#topbar2 {
  display: none;
}
.topbar {
  height: 92px;
  margin: auto !important;
  padding: 0;
  border-spacing: 0 !important;
  border-collapse: collapse;
  background-image: image-url('/assets/images/screen.jpg');
  width: 700px;
  background-repeat: no-repeat;
  td {
    min-width: 70px;
    overflow: hidden;
    a {
      text-decoration: none;
      color: white;
      height: 100%;
      width: 100%;
      margin: -10em;
      padding: 10em;
    }
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: center;
    span {
      margin: 0;
    }
  }
  #left {
    padding: 0;
    background-color: darkgray;
    margin: 0;
    width: 68px;
    span, img, a {
      margin: 0;
      padding: 0;
      border-spacing: 0;
    }
  }
  #logo, #logo img {
    margin: 0;
    padding: 0;
    width: 280px;
    overflow: hidden;
  }
  #icon {
    width: 60px;
  }
  .addstory, .stories,#link {
    color: white;
    font-weight: bold;
  }
  .addstory {
    width: 120px;
  }
  .stories {
    width: 120px;
  }
  #link {
    width: 80px;
  }
}
.right {
  max-width: 60%;
}
#content {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-right: 0;
  .intro {
    padding-bottom: 50px;
    text-align: left;
  }
  ul#buttons {
    margin-top: 50px;
    input, li.btn {
      border-radius: 10px;
      background-color: #009900;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin: 10px auto;
      width: 320px;
      height: 60px;
      box-shadow: 5px 5px 5px black;
      display: block;
      padding: 10px;
      display: block;
      text-decoration: none;
      color: black;
      a {
        margin: 0;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: black;
      }
    }
  }
  ul#linkbuttons {
    box-shadow: 5px 5px 5px black;
    .left, .right, li {
      display: inline-block;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 0;
    }
    .left {
      margin: 0;
      padding: 0;
      vertical-align: top;
    }
    margin-top: 50px;
    vertical-align: top;
    width: 680px;
    background-color: white;
    height: 160px;
    margin-left: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    li {
      a {
        margin: 0;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: white;
      }
      float: right;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin: 10px auto;
      background-color: #009900;
      border-radius: 10px;
      text-shadow: 3px 3px 3px black;
      margin-bottom: 0;
      display: inline-block !important;
      margin-top: 85px;
    }
    text-align: left;
    &.draft {
      background-color: lightgrey;
    }
  }
  #footer {
    margin: auto;
    padding: auto;
    text-align: center;
  }
}
table.progress {
  margin: auto;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  td {
    width: 80px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    a {
      color: #454140;
    }
  }
  td.green {
    background-color: green;
    a {
      color: green;
    }
  }
}
label.checkbox {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
* {
  font-family: 'PT Sans', sans-serif;
}
form:not(.edit_user) {
  input.string, textarea {
    min-width: 380px;
    min-height: 100px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
  }
}
td a { display: block; }
.citytime, .taglist, .why, .adventure, .nifty, .wise, .mom {
  padding: 20px;
  border-bottom: 1px black solid;
}
table.tags, .taglist {
  margin: auto;
}
.header {
  color: white;
  font-weight: bold;
  font-size: 19px;
  text-shadow: 4px -4px 2px #053752;
  border-radius: 30px;
  margin-top: -13px;
  margin-left: 5px;
  position: absolute;
}
.taglist .header {
  margin-top: -30px;
}
.images {
  border-radius: 5px;
  background-color: #053752;
  margin: auto;
  width: 700px;
  ul {
    padding-left: 0;
    margin-left: 0;
    li {
      padding: 5px;
    }
  }
}
td#left, td#left tr, td#left td, td#left a {
  padding: 0;
  margin: 0;
}

.taglist, .images {
  box-shadow: 5px 5px 5px black;
}
.taglist {
  max-width: 660px !important;
}
table.tags {
  max-width: 680px;
  padding: 0;
  border-spacing: 5px;
  margin: auto;
  tr, tbody {
    padding: 0;
    margin: 0;
  }
  td {
    color: #053752;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    border: 1px solid darkslategray;
    border-radius: 10px;
    a {
      color: #053752;
      text-decoration: none;
      display: block;
    }
    &.green {
      background-color: green;
      a {
        color: white;
      }
    }
    &.gray {
      background-color: #86cafb;
    }
  }
}
.tag {
  border: 1px solid black;
}
.btn_green, .btn_gradient {
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-shadow: 1px 1px 1px black;
  margin: 15px;
  display: inline-block;
  a {
    padding: 20px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
  }
}
.btn_gradient {
  background: linear-gradient(#cde460,#78a139);
}
.btn_green {
  background-color: green;
}
table.datatable {
  tr, tbody, td {
    color: black;
  }
}
.input.check_boxes, .input.radio_buttons {
  display: inline-block;
  label {
    text-align: center;
    display: block;
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: bold;
    /* input { */
      /* display: none; */
    /* } */
  }
}
ul#user {
  li {
    display: block;
  }
}
#map-canvas {
  width: 240px;
  height: 240px;
  margin: 10px auto;
}
td#left, td#left a.imglink, td#left tr, td#left td{
  width: 80px !important;
}
td#left a.imglink, td#left td{
  height: 44px !important;
}
.cap, .cap div, .cap a {
  display: inline-block;
  text-shadow: 3px 3px 3px black;
  font-size: 42px;
  font-weight: bold;
  font-style: italic;
  font-family: 'PT Sans', sans-serif;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}
.cap1 a {
  color: #ffc000;
}
.cap2 a {
  color: #00cc00;
}

.ppt {
  h1, p {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
  }
  h1 {

    font-style: italic;
  }
  .step1, .step2, .step3 {
    width: 32%;
    display: inline-block;
  }

}
#smallmap {
  width: 320px;
  height: 320px;
  margin: auto;
}
.gm-style {
  color: black;
}
body {
  min-height: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  margin: auto;
  background-color: #454140;
}
