a:visited {
  color: silver;
}
body {
  margin: auto;
  padding: 0;
  background-color: #454140;
  color: white;
  width: 768px;
}
#topbar {
  margin: auto !important;
  padding: 0;
  border-spacing: 0 !important;
  border-collapse: collapse;
  background-image: image-url('/assets/images/screen.jpg');
  min-width: 700px;
  background-repeat: no-repeat;
  td {
    min-width: 70px;
    overflow: hidden;
    a {
      text-decoration: none;
      color: white;
      height: 100%;
      width: 100%;
      margin: -10em;
      padding: 10em;
    }
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: center;
    span {
      margin: 0;
    }
  }
  #left {
    padding: 0;
    background-color: darkgray;
    margin: 0;
    width: 68px;
    span, img, a {
      margin: 0;
      padding: 0;
      border-spacing: 0;
    }
  }
  #logo, #logo img {
    margin: 0;
    padding: 0;
    width: 280px;
    overflow: hidden;
  }
  #icon {
    width: 60px;
  }
  #addstory,#stories,#link {
    color: white;
    font-weight: bold;
  }
  #addstory {
    width: 120px;
  }
  #stories {
    width: 120px;
  }
  #link {
    width: 80px;
  }
}
#content {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-right: 0;
  .intro {
    padding-bottom: 50px;
    text-align: left;
  }
  ul#buttons {
    margin-top: 50px;
    input, li.btn {
      border-radius: 10px;
      background-color: #009900;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin: 10px auto;
      width: 320px;
      height: 60px;
      box-shadow: 5px 5px 5px black;
      display: block;
      padding: 10px;
      display: block;
      text-decoration: none;
      color: black;
      a {
        margin: 0;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: black;
      }
    }
  }
  ul#linkbuttons {
    .left,.right, li {
      display: inline-block;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 0;
    }
    .left {
      margin: 0;
      padding: 0;
      vertical-align: top;
    }
    margin-top: 50px;
    vertical-align: top;
    min-width: 680px;
    background-color: white;
    height: 160px;
    margin-left: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    li {
      a {
        margin: 0;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: white;
      }
      float: right;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin: 10px auto;
      background-color: #009900;
      border-radius: 10px;
      text-shadow: 3px 3px 3px black;
      margin-bottom: 0;
      display: inline-block !important;
      margin-top: 85px;
    }
    text-align: left;
  }
  #footer {
    margin: auto;
    padding: auto;
    text-align: center;
  }
}
table.progress {
  margin: auto;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  td {
    width: 80px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    a {
      color: #454140;
    }
  }
  td.green {
    background-color: green;
    a {
      color: green;
    }
  }
}
label.checkbox {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
* {
  font-family: 'PT Sans', sans-serif;
}
input.string, textarea {
  min-width: 380px;
  min-height: 100px;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}
td a { display: block; }
.citytime, .taglist, .why, .adventure, .nifty, .wise, .mom {
  padding: 20px;
  border-bottom: 1px black solid;
}
table.tags, .taglist {
  margin: auto;
}
.header {
  color: white;
  font-weight: bold;
  font-size: 19px;
  text-shadow: 4px -4px 2px #053752;
  border-radius: 30px;
  margin-top: -13px;
  margin-left: 5px;
  position: absolute;
}
.taglist .header {
  margin-top: -30px;
}
.images {
  border-radius: 5px;
  background-color: #053752;
  margin: auto;
  width: 700px;
  ul {
    padding-left: 0;
    margin-left: 0;
    li {
      padding: 5px;
    }
  }
}
td#left, td#left tr, td#left td, td#left a {
  padding: 0;
  margin: 0;
}
td#left, td#left a, td#left tr, td#left td{
  width: 80px !important;
}
td#left a, td#left td{
  height: 44px !important;
}

table.tags.topbar {
  border-spacing: 0;
  td {
    border-left: 0;
    &:nth-child(1) {
      border-left: 1px solid darkslategray;
      background-color: white;
      color: black;
    }
  }
  .count {
    position: absolute;
    background-color: blue;
    border: 1px solid darkslategray;
    border-radius: 50%;
    padding: 2px 8px 2px 8px;
    text-align: center;
  }
}
table.tags {
  padding: 0;
  border-spacing: 5px;
  margin: 0;
  tr, tbody {
    padding: 0;
    margin: 0;
  }
  td {
    &.green {
      background-color: green;
    }
    &.gray {
      background-color: #86cafb;
    }
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    border: 1px solid darkslategray;
    border-radius: 10px;
    a {
      color: white;
      text-decoration: none;
      display: block;
      &:visited {
        color: white;
      }
    }
  }
}
.tag {
  border: 1px solid black;
}
.btn_green, .btn_gradient {
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  text-shadow: 1px 1px 1px black;
  padding: 15px;
  margin: 15px;
  display: inline-block;
  a {
    display: block;
    color: white;
    text-decoration: none;
  }
}
.btn_gradient {
  background: linear-gradient(#cde460,#78a139);
}
.btn_green {
  background-color: green;
}
table.datatable {
  tr, tbody, td {
    color: black;
  }
}
