=simple_form_for @image do |f|
  =f.input :user_id, input_html: { value: @user_id }, as: :hidden
  =f.input :upload, label: "Select Photo"
%p
%ul.images
  -@images.where(parent_id: nil).sort_by(&:created_at).reverse.each_with_index do |image, index|
    %li.image
      .imagebox
        =link_to image_tag(image.upload.small.url), image_path(image)
        .floater.visible{data: {width: image.width, height: image.height, left: image.posX, top: image.posY + index*555+79}}
          .caption
            =image.caption.try(&:html_safe)
