%h1=@place.name
=@place.address
.yelp
  = image_tag(@place.star_rating)

%table.tags
  %tr
    %td
      %h2 Gustr
    - Tag::TAGS.each do |tag|
      %td{class: @place.tagged_by(@ip, tag.underscore) ? 'green' : 'gray'}
        = link_to tag, place_tag_path(@place, tag: tag.underscore), remote: true
        .count
          #{@place.tags.send(tag.underscore).count}

-# - if @place.graphics.present?
  -# %ul
    -# -@place.graphics.each do |graphic|
      -# %li
        -# =image_tag(graphic.upload.thumb.url)

-# = simple_form_for [@place, @place.graphics.build] do |f|
  -# = f.input :place_id, as: :hidden,input_html: {value: @place.id}
  -# = f.input :upload
  -# = f.submit
